[Unit]
Description=isucon12 qualify webapp
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
User=isucon
Group=isucon
WorkingDirectory=/home/isucon/webapp/go
ExecStart=/home/isucon/webapp/go/isuports
ExecStop=/bin/kill -s QUIT $MAINPID
Restart=always
LimitNOFILE=65536
EnvironmentFile=/home/isucon/env.sh